<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/neural_net/src/backpropogation/MLSystemManager.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="backpropogation.MLSystemManager"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-L neuralnet  -HLS 1 -HN 6  -LR 0.3 -M 0.1 -A iris.arff -E random 0.75"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="neural_net"/>
</launchConfiguration>
